
	html {
		width:100%;
		height:100%;
	}

	body {
		width:100%;
		height:100%;
		box-sizing:			border-box;
		overflow: hidden;
	}

	h2 {
		margin:				0 0;
	}

	.ktMarkDown {
		box-sizing:			border-box;
		width:100%;
		height:100%;
		max-width:9999px;
		margin:				0 auto;
		border:				0px solid rgb(220,220,220);
		padding:			0;
		background: rgba(0,0,0,0.1);
	}

	.ktmd_slide {
		position: absolute;
		left:0;
		top:0;
		width:				100%;
		margin:0;
		padding: 0;
	}

	.ktmd_slide_hidden {
	    display:none;
	    visibility:hidden;
	}

	.ktmd_slideIn_fromRight {
		-webkit-animation: ktmd_slideIn_fromRight 0.3s;
	}
	@-webkit-keyframes ktmd_slideIn_fromRight {
		  0% { -webkit-transform: translate(100%,0); }
		100% { -webkit-transform: translate(  0%,0); }
	}


	.ktmd_slideIn_fromLeft {
		-webkit-animation: ktmd_slideIn_fromLeft 0.3s;
	}
	@-webkit-keyframes ktmd_slideIn_fromLeft {
		  0% { -webkit-transform: translate(-100%,0); }
		100% { -webkit-transform: translate(   0%,0); }
	}
