.ktmd_todo_head {
  font-weight: 400;
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 0 2px 2px;
  border: 1px solid #dcdcdc;
  border-radius: 8px 0 0 8px;
  border-right-width: 0;
  padding: 2px 4px 2px 8px;
  background: #e6e6e6;
}
.ktmd_todo_tail {
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 2px 2px 0;
  border: 1px solid #dcdcdc;
  border-radius: 0 8px 8px 0;
  padding: 2px 8px 2px 3px;
  background: #e6e6e6;
}
.ktmd_todo_due_head {
  font-weight: 400;
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 0 2px 2px;
  border: 1px solid #dcdcdc;
  border-radius: 8px 0 0 8px;
  border-right-width: 0;
  padding: 2px 4px 2px 8px;
  background: #e6e6e6;
  background: #f0b4b4;
}
.ktmd_todo_due_tail {
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 2px 2px 0;
  border: 1px solid #dcdcdc;
  border-radius: 0 8px 8px 0;
  padding: 2px 8px 2px 3px;
  background: #e6e6e6;
}
.ktmd_todo_start_head {
  font-weight: 400;
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 0 2px 2px;
  border: 1px solid #dcdcdc;
  border-radius: 8px 0 0 8px;
  border-right-width: 0;
  padding: 2px 4px 2px 8px;
  background: #e6e6e6;
  background: #b4b4fa;
}
.ktmd_todo_start_tail {
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 2px 2px 0;
  border: 1px solid #dcdcdc;
  border-radius: 0 8px 8px 0;
  padding: 2px 8px 2px 3px;
  background: #e6e6e6;
}
.ktmd_todo_done_head {
  font-weight: 400;
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 0 2px 2px;
  border: 1px solid #dcdcdc;
  border-radius: 8px 0 0 8px;
  border-right-width: 0;
  padding: 2px 4px 2px 8px;
  background: #e6e6e6;
  background: #b4fab4;
}
.ktmd_todo_done_tail {
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 2px 2px 0;
  border: 1px solid #dcdcdc;
  border-radius: 0 8px 8px 0;
  padding: 2px 8px 2px 3px;
  background: #e6e6e6;
}
.ktmd_todo_wait_head {
  font-weight: 400;
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 0 2px 2px;
  border: 1px solid #dcdcdc;
  border-radius: 8px 0 0 8px;
  border-right-width: 0;
  padding: 2px 4px 2px 8px;
  background: #e6e6e6;
  background: #fab4fa;
}
.ktmd_todo_wait_tail {
  font-family: Consolas, courier, 'Osaka-mono', 'Osaka−等幅', 'ＭＳ ゴシック', monospace;
  margin: 2px 2px 2px 0;
  border: 1px solid #dcdcdc;
  border-radius: 0 8px 8px 0;
  padding: 2px 8px 2px 3px;
  background: #e6e6e6;
}
